html{
	margin:0;
	padding: 0;
	background-color: #3a0505;
}
body{
	margin:0;
	padding:0;
}
.proverka{
margin-left: 320px;
}

img{
	max-width: 100%;

}
.logo{
	width: 65px;
	position: absolute;
	margin-left: 10px;
	margin-top: 2px;
}
header{
	height:100px;
	background-color: brown;
	width:100%;

}
.nav_bar a{
	text-decoration: none;
}
.nav_bar{
	margin-right: 20;
	height: 100px;
	float: right;
}
.nav_bar ul{
	z-index: 20;
	list-style: none;
	color: white;
	font-style: normal;
	font-family: Century gothic;
	font-weight: 550;
	font-size: 1 em;
	float: right;
}
.nav_worlds{
	color: white;
}
.nav_worlds:hover{

	color:#e4524f;
}
.ELKA{
	font-style: normal;
	font-family: Century gothic;
	font-weight: 550;
	font-size:5em;
	margin-left: 100px;
	margin-top: 5px;
	position: absolute;
}
.nav_bar li{
	float:left;
margin-right: 25px;
margin-top: 25px;
}
.container{
	text-align:center;

}
.container h2{
	margin:0;
	color:green;
	
}
.new{
	width: 200px;
	margin: 15px;
	border-radius: 50px;
	border: 1px;
}
.btn{
margin-top: 20px;
height: 100px;
width: 200px;
font-size: 20px;
font-family: monospace;
border: 0;
z-index: 0;
color: #000;
cursor: pointer;
position: absolute;
border-radius: 12px;

}
.btn::before {
content: "";
position: absolute;
z-index: -1;

background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
left:-8px;
top:-8px;
width: calc(100% + 16px);
height: calc(100% + 16px);
filter: blur(8px);
transition: opacity .3s ease;
border-radius: 16px;
opacity:0;
color: white;
background-size: 600%;
animation: glowing 20s linear infinite;
}
@keyframes glowing{
0% {background-position: 0,0;}
50% {background-position: 400%,0;}
100% {background-position: 0,0;}
}
.btn:hover::before {
opacity: 1;
}
.btn:active:after{
	background: transparent;
}
.container2{

	position: absolute;
	width: 100%;
	text-align: center;
	margin-left: -100px;
}
